.storyrow {
    
    position: relative;
    
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}

.storyrow > h4 {
    position:absolute;
    left: 10px;
    bottom: 5px;
    
    color: white;
    
}
.profile_avatar {
    border: 3px solid #2e81f4;
}